.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    color: inherit;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    border: none;
    border-bottom: 3px solid transparent;
    width: 80%;
    display: block;
    transition: all 0.3s;
    @include respond(phone) {
      width: 100%;
    }
    &:focus {
      outline: none;
      box-shadow: 0 1 rem 2rem rgba($color-dark, 0.1);
      border-bottom: 3px solid $color-primary;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 2rem;
    margin-top: 0.5rem;
    display: block;
    transition: all 0.3s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(phone) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  &__radio-input {
    display: none;
  }
  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid $color-primary;
    display: inline-block;
    position: absolute;
    top: -0.5rem;
    left: 0;

    &::after {
      content: "";
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background-color: $color-primary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
